--- CPMG SIMULATION PARAMETERS
-- 'METHOD' == Random walk simulation method ('image-based' (default) or 'histogram')
-- 'OBS_TIME' == Signal observation time in miliseconds
METHOD: image-based
OBS_TIME: 3000.0


--- TIKHONOV REGULARIZATION AND LAPLACE INVERSION PARAMETERS
MIN_T2: 0.1
MAX_T2: 10000.0
USE_T2_LOGSPACE: true
NUM_T2_BINS: 128
MIN_LAMBDA: -4
MAX_LAMBDA: 2
NUM_LAMBDAS: 512
PRUNE_NUM: 512
NOISE_AMP: 0.0

--- CPMG SAVE 
SAVE_MODE: true
SAVE_T2: true
SAVE_COLLISIONS: true
SAVE_DECAY: true
SAVE_HISTOGRAM: true
SAVE_HISTOGRAM_LIST: false

