--- MULTITAU SIMULATION PARAMETERS
-- 'TAU_MIN' == minimum inter echo interval
-- 'TAU_MAX' == maximum inter echo interval
-- 'TAU_POINTS' == multitau points
-- 'TAU_SCALE' == scale to generate multitau points. 'linear' (default) or 'log'
TAU_MIN: 0.01
TAU_MAX: 10.0
TAU_POINTS: 10
TAU_SCALE: log


--- MULTITAU SAVE 
SAVE_MODE: true
SAVE_DECAY: true
SAVE_T2: true
SAVE_WALKERS: true
SAVE_HISTOGRAM: true
SAVE_HISTOGRAM_LIST: false