--- PFGSE CONFIGURATION
-- PFGSE experiment physical attributes.
-- 'GIROMAGNETIC_RATIO' == giromagnetic ratio of the spin in MHz/T
-- 'PULSE_WIDTH' == Gradient pulse width in ms
-- 'MAX_GRADIENT' == Magnitude of the magnetic field gradient to be applied in each Cartesian direction {Gx, Gy, Gz} in Gauss/cm
-- 'GRADIENT_SAMPLES' == Number of gradient linearly spaced samples from {0,0,0} to {Gx,Gy,Gz}
GIROMAGNETIC_RATIO: 42.576
PULSE_WIDTH: 0.1
MAX_GRADIENT: {3000.0, 0.0, 0.0}
GRADIENT_SAMPLES: 200

--- Time sequence.
-- 'TIME_SEQ' == the type of time sequence to be applied ('manual', linear' or 'log')
-- 'TIME_SAMPLES' == number of time samples
-- if 'TIME_SEQ' = manual: set 'TIME_VALUES' with a list of time samples in ms (e.g. {0.1, 0.5, 2.0})  
-- if 'TIME_SEQ' = linear: set 'TIME_MIN' and 'TIME_MAX' in miliseconds. The program with automatically create 'TIME_SAMPLES' samples linearly spaced within this range 
-- if 'TIME_SEQ' = log: set 'TIME_MIN' and 'TIME_MAX' in logarithmic base. The program with automatically create 'TIME_SAMPLES' samples logarithmic spaced within this range
TIME_SEQ: log
TIME_SAMPLES: 3
//TIME_VALUES: {0.2, 0.5, 1.0, 2.0}
TIME_MIN: -2.0
TIME_MAX: 0.3

--- Specify inspection length
-- Instead of directly using the time samples, scale them according to the diffusional timescale
-- 'APPLY_INSPECTION_LENGTH': flag to allow inspection length scaling
-- 'INSPECTION_LENGTH': the characteristic length to be inspectioned in micrometers
APPLY_SCALE_FACTOR: true
INSPECTION_LENGTH: 100.0


--- Threshold for PFGSE signal.
-- 'THRESHOLD_TYPE' 	== the type of threshold to be applied ('samples' or 'lhs')
-- 'THRESHOLD_VALUE' == the threshold value to be applied for D(t) recover from the PFGSE signal
- if 'THRESHOLD_TYPE' = samples: integer corresponding to number of samples, 
- if 'THRESHOLD_TYPE' = lhs: float corresponding to maximum signal loss. 
THRESHOLD_TYPE: samples
THRESHOLD_VALUE: 8

-- Wave-vector 'k' computation.
USE_WAVEVECTOR_TWOPI: false
ALLOW_WALKER_SAMPLING: true

-- PFGSE SAVE. 
SAVE_MODE: true
SAVE_PFGSE: true
SAVE_COLLISIONS: false
SAVE_DECAY: false
SAVE_HISTOGRAM: true
SAVE_HISTOGRAM_LIST: false
