--- RWNMR Configuration
-- 'NAME': Output folder with simulation results, saved at '$PROJECT_ROOT_DIR/db'
NAME: NMR_simulation

--- RANDOM WALK PARAMETERS
-- 'D0' == fluid bulk diffusion coefficient in um²/ms
-- 'BULK_TIME' == bulk relaxation time in ms
-- 'RHO_TYPE' == surface relaxivity/absorption type ('uniform' or 'sigmoid' accepted) 
-- 'RHO' == surface relaxivity ('uniform': use float value, 'sigmoid' = use list with first entry being number of sigmoids used (each sigmoid takes 4 parameters). e.g.: {2, (...), (...)})
-- 'WALKERS' == number of random walkers
-- 'WALKERS_PLACEMENT' == 'random' or 'point' or "cubic"
-- 'PLACEMENT_DEVIATION' == max deviation from the center of the image if WALKER_PLACEMENT is assigned as 'cubic' 
-- 'STEPS_PER_ECHO' == steps per nmr echo. Echo is a measure of walker's global magnetization
-- 'SEED' == seed for random number generation (if 'SEED' = 0, the program will ramdomly generate a RNG seed).
-- 'BC' == boundary condition to treat image limits ('noflux' is default, but 'periodic' and 'mirror' bcs are implemented)
D0: 2.5
BULK_TIME: 2800
RHO_TYPE: uniform
RHO: {0.0}
WALKERS: 50000
WALKER_SAMPLES: 1
WALKERS_PLACEMENT: random
PLACEMENT_DEVIATION: 0
STEPS_PER_ECHO: 1
SEED: 0
BC: noflux

-- SAVE MODE
SAVE_IMG_INFO: true
SAVE_BINIMG: false

-- HISTOGRAM SIZE
HISTOGRAMS: 1	
HISTOGRAM_SIZE: 1024

-- OPENMP MODE
OPENMP_USAGE: true
OPENMP_THREADS: 4

-- CUDA/GPU PARAMETERS
- kernel configuration (sugested: blocks 1024, threads 512, echoes 16, reduce TRUE, max_rwsteps 65536)
GPU_USAGE: true
BLOCKS: 4096
THREADSPERBLOCK: 1024
ECHOESPERKERNEL: 16
REDUCE_IN_GPU: true
MAX_RWSTEPS: 65536

-- MPI COMMUNICATION
BITBLOCKS_BATCHES_SIZE: 100000
BITBLOCK_PROP_SIZE: 7
NMR_T2_SIZE: 128
NMR_START_TAG: 1000
NMR_BITBLOCK_TAG: 2000
NMR_BATCH_TAG: 3000
NMR_T2_TAG: 4000
NMR_END_TAG: 5000
