-- MICRO-CT IMAGE PARAMETERS

DIR_PATH: /home/matheus/Documentos/doutorado_ic/tese/NMR/Images/Synthetic/sphere/sphere_r=5voxels/imgs/
FILENAME: sphere_r=5voxels_
FIRST_IDX: 0
DIGITS: 2
EXTENSION: .png
SLICES: 12
RESOLUTION: 1.0
VOXEL_DIVISION: 0
// IMG_FILES_LIST: /home/matheus/Documentos/doutorado_ic/tese/NMR/rwnmr_2.0/config/imgs/ImageList.txt
