-- MICRO-CT IMAGE PARAMETERS

DIR_PATH: /home/matheus/Documentos/doutorado_ic/tese/NMR/Images/Synthetic/random_spherical_grains/menos_permeavel_7.1pu_png/
FILENAME: menos_permeavel_7.1pu_img_
FIRST_IDX: 0
DIGITS: 3
EXTENSION: .png
SLICES: 512
RESOLUTION: 1.0
VOXEL_DIVISION: 0
// IMG_FILES_LIST: /home/matheus/Documentos/doutorado_ic/tese/NMR/rwnmr_2.0/config/imgs/ImageList.txt
