--- CPMG Configuration
METHOD: image-based
D0: 2.5
OBS_TIME: 2000.0
-- LAPLACE INVERSION PARAMETERS
MIN_T2: 0.1
MAX_T2: 10000
USE_T2_LOGSPACE: 128
NUM_T2_BINS: true
MIN_LAMBDA: -4.0
MAX_LAMBDA: 2.0
NUM_LAMBDAS: 512
PRUNE_NUM: 512
NOISE_AMP: 0.0
-- SAVE MODE
SAVE_MODE: true
SAVE_T2: true
SAVE_COLLISIONS: true
SAVE_DECAY: true
SAVE_HISTOGRAM: true
SAVE_HISTOGRAM_LIST: true
