--- Target NMR-T2
T2_PATH: "../data/input_data/PSO_benchmark_2D/NMR_T2.txt"

--- Genotype  
GA_GENOTYPE_SIZE: 8
GA_MAX_VALUES: {50.0, 50.0, 1.0, 100.0, 50.0, 50.0, 1.0, 100.0}
GA_MIN_VALUES: {0.1, 0.1, 0.0, 1.0, 0.1, 0.1, 0.0, 1.0}

--- Essentials
TOLERANCE: 0.000001
POPULATION_SIZE: 24
OFFSPRING_PROPORTION: 0.5
GAMMA: 0.5
MUTATION_RATIO: 0.1
MUTATION_DEVIATION: 1.0
MUTATIONS_PER_RESET: 5
RESET_PROPORTION: 0.75
TOP_SIZE: 0.25
BETA: 1.0
DIVERSITY: 0.9
MEAN_DEVIATION: true
RESET_POP: true

--- Migration (MPI)
GEN_PER_MIGRATION: 5
MIGRATION_RATE: 0.25
MIGRATION_IMPROVEMENT: 0.4
MIGRATION_START_TAG: 1000
MIGRATION_READY_TAG: 2000
MIGRATION_END_TAG: 3000
ASYNC_READY_TAG: 8000
ASYNC_DONE_TAG: 8002
SOLUTION_FOUND_TAG: 9999

--- SAVE MODE
SAVE_GA: true