--- Physical attributes.
D0: 2.5
GIROMAGNETIC_RATIO: 42.576
PULSE_WIDTH: 0.1
MAX_GRADIENT: {0.0, 0.0, 30000.0}
GRADIENT_SAMPLES: 200

--- Time sequence.
- TIME_SEQ 		== can be 'manual', linear', 'log'. 
TIME_SEQ: manual
TIME_SAMPLES: 4
TIME_VALUES: {0.2, 0.5, 1.0, 2.0}
TIME_MIN: -1.0
TIME_MAX: 1.0
APPLY_SCALE_FACTOR: true
INSPECTION_LENGTH: 10.0

--- Threshold application for D(t) recovering.
- TIME_TYPE 	== can be 'samples', lhs', 'rhs', 'none'. 
THRESHOLD_TYPE: samples
THRESHOLD_VALUE: 8

--- Wave-vector 'k' computation.
USE_WAVEVECTOR_TWOPI: false

--- PFGSE SAVE. 
SAVE_MODE: true
SAVE_PFGSE: true
SAVE_COLLISIONS: true
SAVE_DECAY: true
SAVE_HISTOGRAM: true
SAVE_HISTOGRAM_LIST: false
