--- RWNMR Configuration
NAME: NMR_Simulation
-- PARAMETERS
WALKERS: 10000
WALKERS_PLACEMENT: random
PLACEMENT_DEVIATION: 0
RHO_TYPE: uniform
RHO: {0.0}
D0: 0.0
STEPS_PER_ECHO: 1
SEED: 0
-- COLLISION HISTOGRAMS
HISTOGRAMS: 1
HISTOGRAM_SIZE: 1024
-- PERFORMANCE
OPENMP_USAGE: true
GPU_USAGE: true
-- SAVE MODE
SAVE_IMG_INFO: true
SAVE_BINIMG: false
